<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Registros de ...</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, unde!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/">Home</a>
            </p>
            <a class="btn btn-primary  ml-auto" type="button" href="/data/add ">Añadir Registro</a>
        </div>
    </header>
    <!--<div class="row text-center" style="display:flex; flex-wrap: wrap;"></div>
    <div class="col-md-12">
        <p>
        <form action="/data" method="GET" class="form-inline">
            <div class="form-group">
                <input type="text" name="search" placeholder="Introduce el NUC" class="col-md-4">
                <input type="submit" value="Search" class="btn btn-success">
            </div>
        </form>
        <form action="/data/search" method="GET" class="form-inline">
            <div class="form-group">
                <a href="/data/search" class="btn btn-primary">Search</a>
            </div>

        </form>
        </p>
    </div>-->
</div>
</div>
<div class="row">
    <aside class="float-right">
        <div class="card" style="width: 20rem;">

        </div>
    </aside>
    {{#each datos}}

    <div class="col-md-3 " style="display: flex; flex-wrap: wrap;">

        <div class="card">
            <div class="card-body">

                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{nuc}}
                    <!--<a href="/data/edit/{{_id}}"><i class="fas fa-edit"></i></a>-->
                </h4>
                <p>{{status}}</p>

                <!--<
                    Elminiar registros
                    form action="/data/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name"_method" value="DELETE">
                    <button class= "btn  btn-danger btn-block btn-slim" type="submit">
                        Eliminar
                    </button>-->
                </form>
                <form action="/data/edit/{{_id}}">
                    <button class="btn btn-primary fas fa-edit w-100" type="submit">
                        Editar
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <!-- <div class="card mx-auto">
        <div class="card-body">
            <p class="lead">Sin registro</p>
            <a href="/data/add" class="btn btn-info btn-block">Añadir registros</a>
        </div>
    </div>-->

    <div class="container p-4">
        <div class="card mx-auto" style="width: 35rem;">
            <div class="card-body">
                <h3 class="title" style="text-align:center"><strong>No se encontrarón registros.</strong></h3>
                <p class="text-align: center">Realiza otra búsqueda o añade un registro con ese NUC.</p>
                <a href="/data" class="btn btn-primary w-100"><i class="fas fa-arrow-left"></i> Ver todos los registros</a>
                <hr>
                <a href="/data/add" class="btn btn-info btn-block">Añadir registro</a>
            </div>
        </div>

    {{/each}}
    </div>