    <header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase">Registros de...</div>
        <div class="masthead-subheading">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div>
        <a class="btn btn-warning btn-lg text-uppercase js-scroll-trigger" href="/">Home</a>
    </div>
</header>
</div>
</div>
<div class="row">
    <aside class="float-right">
        <div class="card" style="width: 20rem;">

        </div>
    </aside>
    {{#each datos}}

    <div class="col-md-3 " style="display: flex; flex-wrap: wrap;">

        <div class="card">
            <div class="card-body">

                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{nuc}}
                    <!--<a href="/data/edit/{{_id}}"><i class="fas fa-edit"></i></a>-->
                </h4>
                <p>{{status}}</p>

                <!--<
                    Elminiar registros
                    form action="/data/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name"_method" value="DELETE">
                    <button class= "btn  btn-danger btn-block btn-slim" type="submit">
                        Eliminar
                    </button>-->
                </form>
                <form action="/data/edit/{{_id}}">
                    <button class="btn btn-primary fas fa-edit w-100" type="submit">
                        Editar
                    </button>
                </form>
                <form action="/data/view/{{_id}}">
                    <button class="btn btn-success fas fa-binoculars" type="submit">
                        Ver
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <!-- <div class="card mx-auto">
        <div class="card-body">
            <p class="lead">Sin registro</p>
            <a href="/data/add" class="btn btn-info btn-block">Añadir registros</a>
        </div>
    </div>-->

    <div class="container p-4">
        <div class="card mx-auto" style="width: 35rem;">
            <div class="card-body">
                <h3 class="title" style="text-align:center"><strong>No se encontrarón registros.</strong></h3>
                <p class="text-align: center">Realiza otra búsqueda o añade un registro con ese NUC.</p>
                <a href="/data" class="btn btn-primary w-100"><i class="fas fa-arrow-left"></i> Ver todos los registros</a>
                <hr>
                <a href="/data/add" class="btn btn-info btn-block">Añadir registro</a>
            </div>
        </div>

    {{/each}}
    </div>